._section {
    min-height: 610px;
    padding: 83px 0px;
}

._section:nth-child(1) {
    background: url('../images/banner.jpg');
    background-size: 138%;
    background-position: 0px center;
}

._section:nth-child(2) {
    background: url('../images/background-section-2.jpg');
    background-size: 100% 100%;
    background-position: inherit;
    height: 860px;
    padding: 0px;
}

._section:nth-child(2) ._container ._grid-12 h1 {
    width: 400px;
    float: right;
    display: block;
}

._section:nth-child(2) ._container ._grid-12 h1 span:first-child {
    background: -webkit-linear-gradient(0deg, #bd5d08, #ecac00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

._section:nth-child(2) ._container ._grid-12 h1 span:last-child {
    margin-top: -36px;
    margin-left: 80px;
    display: block;
    background: -webkit-linear-gradient(0deg, #335d85, #0898a9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

._section:nth-child(2) iframe {
    margin: 82px 0px;
}

._section:nth-child(3) {
    background: url('../images/background-section-3.jpg');
    background-size: 100% 100%;
    background-position: 0px 0px;
    height: 1012px;
    padding: 0px;
}

._section:nth-child(3) ._container ._grid-12 h1 span:first-child {
    background: -webkit-linear-gradient(0deg, #333e85, #5978c5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

._section:nth-child(3) .carousel-item img {
    margin: 0px auto;
    display: block;
    width: 1065px;
}

._section:nth-child(4) {
    min-height: unset;
    background: url('../images/backgrund-section-5.jpg');
    padding: 0px;
}

._section:nth-child(4) img {
    width: 100%;
}

._section:nth-child(5) {
    padding: 77px 0px;
    background: url('../images/backgrund-section-5.jpg');
    height: 974px;
    background-size: 100% 100%;
}

._section:nth-child(5) img:nth-child(2) {
    width: 211px;
}

._section:nth-child(5) ._grid-12:nth-child(2) img {
    margin: 37px 0px;
}

._section:nth-child(5) p {
    font-size: 24px !important;
    color: 0f8079;
    line-height: 1.2;
    margin-bottom: 49px;
}

._section:nth-child(6) {
    background: url('../images/backgrund-section-6.jpg');
    background-size: 100% 100%;
    height: 997px;
    padding: 0px 0px;
}

._section:nth-child(6) h1 {
    margin-bottom: 0px !important;
    font-size: 135px !important;
    transform: rotate(-6deg);
}

._section:nth-child(6) ._slider {
    margin-top: -39px;
}

._section:nth-child(6) ._container ._grid-12 h1 span:first-child {
    color: #0096ff;
}

._section:nth-child(6) ._container ._grid-12 h1 span:last-child {
    margin-top: -71px;
    margin-left: 19px;
    display: block;
    color: #ff8400;
}

._section:nth-child(6) .carousel-item img {
    width: 1049px;
    margin: 0px auto;
    display: block;
}

._section:nth-child(7) {
    background: url(../images/backgrund-section-7.jpg);
    background-size: 100% 100%;
    background-position: 0px 0px;
    height: 886px;
    padding: 149px 100px 66px;
}

._section:nth-child(7) img {
    width: 1000px;
    margin: 108px auto 0px;
    display: block;
}

._section:nth-child(8) {
    background: url(../images/backgrund-section-8.jpg);
    background-size: cover;
    background-position: 0px 0px;
    padding: 45px 100px 66px;
}

._section:nth-child(8) table {
    width: 100%
}

._section:nth-child(8) table td {
    padding: 6px;
    font-size: 13px;
    border: 1px #e6e6e6 solid;
    color: #424242;
    font-family: Ubuntu;
    font-weight: 100;
}

._section:nth-child(8) ._container ._grid-12 ._button-list {
    width: 500px;
    margin: 33px auto 82px;
}

._section:nth-child(8) ._container ._grid-12 ._button-list ._button {
    width: 49%;
    float: left;
    margin-left: 1%;
    display: table;
}

._section:nth-child(8) ._container ._grid-12 ._button-list ._button:first-child {
    background-image: linear-gradient(to right, #6fceef, #389ddf);
}

._section:nth-child(8) ._container ._grid-12 ._button-list ._button:last-child {
    background-image: linear-gradient(to right, #f5711f, #cb4703);
}

._section:nth-child(8) ._container ._grid-12 ._button-list ._button ._icon {
    background-color: #fff;
    width: fit-content;
    padding: 13px 0px;
    width: 62px;
    text-align: center;
    position: absolute;
    top: 8px;
}

._section:nth-child(8) ._container ._grid-12 ._button-list ._button ._icon i {
    font-size: 37px;
}

._section:nth-child(8) ._container ._grid-12 ._button-list ._button:first-child ._icon i {
    background: linear-gradient(to right, #6fceef, #389ddf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

._section:nth-child(8) ._container ._grid-12 ._button-list ._button:last-child ._icon i {
    background: linear-gradient(to right, #f5711f, #cc4803);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

._section:nth-child(8) ._container ._grid-12 ._button-list ._button h4 {
    float: left;
    left: 0px;
    top: 0px;
    padding-left: 71px;
    width: 100%;
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px !important;
    font-size: 25px !important;
    color: #fff;
    vertical-align: middle;
    line-height: 1;
    display: table-row;
}

._section:nth-child(8) ._container ._grid-12 h2 {
    width: 337px;
    margin: 0px auto;
    transform: rotate(-6deg);
}

._section:nth-child(8) ._container ._grid-12 h2 span:first-child {
    color: #0096ff;
}

._section:nth-child(8) ._container ._grid-12 h2 span:last-child {
    display: block;
    margin-left: 140px;
    margin-top: -20px;
    color: #ff8400;
}

._section:nth-child(8) .card {
    border-radius: 0px !important;
    border: none;
    background: none;
}

._section:nth-child(8) .card-body {
    border-bottom: 1px #d0d1d0 solid !important;
    border-radius: 0px !important;
}

._section:nth-child(8) .collapse {
    border-radius: 0px !important;
}

._section:nth-child(8) .card .card-header {
    padding: 0px;
    border-bottom: 1px #d0d1d0 solid !important;
    border-radius: 0px;
    background: none;
}

._section:nth-child(8) .card .card-header h5 {
    border-bottom: 0px !important;
}

._section:nth-child(8) .card .card-header h5 button {
    width: 100%;
    background-color: none;
    text-decoration: none;
    text-align: left;
    padding: 17px;
    color: #1f201f;
    border-bottom: none;
    border-radius: 0px;
    cursor: pointer;
}

@media(max-width: 1200px) {
    ._section ._container-type-1, ._section ._container-type-4 {
        width: 100%;
        padding: 0px 43px;
        max-width: 100%;
    }
    ._section:nth-child(2) {
        background-size: 100% 100%;
        height: 710px;
    }
    ._section:nth-child(3) {
        background-size: 100% 100%;
    }
    ._section:nth-child(5) {
        height: 789px;
        background-size: 100% 100%;
    }
    ._section:nth-child(6) {
        height: 762px;
        background-size: 100% 100%;
    }
    ._section:nth-child(6) .carousel-item img {
        width: 568px;
    }
    ._section:nth-child(7) {
        padding: 0px;
        background-position: center;
        height: 610px;
    }
    ._section:nth-child(7) img {
        width: 700px;
    }
    ._section:nth-child(3) .carousel-item img, ._section:nth-child(6) .carousel-item img {
        width: 100%;
    }
    ._section:nth-child(6) h1 {
        font-size: 90px !important;
        margin-top: 0px !important;
    }
    ._section:nth-child(6) ._container ._grid-12 h1 span:last-child {
        margin-top: -50px;
    }
    ._section:nth-child(8) ._container ._grid-12 h2 {
        margin-top: 0px !important;
    }
}

@media(max-width: 992px) {
    ._section:nth-child(2) ._container ._grid-12 h1 {
        font-size: 80px !important;
        width: 327px;
    }
    ._section:nth-child(3) ._container ._grid-12 h1 {
        font-size: 80px !important;
    }
    ._section:nth-child(7) img {
        width: 100%;
    }
}

@media(max-width: 768px) {
    ._section {
        min-height: 450px !important;
        height: auto !important;
        padding: 25px 16px !important;
    }
    ._section:nth-child(8) {
        padding: 0px;
    }
    ._section:nth-child(8) ._container ._grid-12 ._button-list {
        width: 400px;
    }
    ._section:nth-child(8) ._container ._grid-12 ._button-list ._button h4 {
        font-size: 17px !important;
    }
    ._section:nth-child(8) ._container ._grid-12 ._button-list ._button ._icon i {
        font-size: 21px !important;
    }
    ._section:nth-child(8) ._container ._grid-12 ._button-list ._button ._icon {
        width: 46px;
    }
    ._section:nth-child(4) {
        min-height: unset !important;
        padding: unset !important;
    }
    ._section ._container-type-1, ._section ._container-type-4 {
        padding: 0px !important;
    }
    ._section:nth-child(2) iframe {
        width: 100%;
    }
}

@media(max-width: 425px) {
    ._section {
        min-height: auto !important;
    }
    ._section:nth-child(7) img {
        margin-top: 0px !important;
    }
    ._section:nth-child(1) {
        min-height: 427px !important;
        background-size: cover;
        background-position: -131px 0px;
    }
    ._section:nth-child(6) h1 {
        font-size: 79px !important;
        width: 220px;
        margin-left: 16px;
    }
    ._section:nth-child(3) ._container ._grid-12 h1 {
        font-size: 60px !important;
    }
    ._section:nth-child(6) ._container ._grid-12 h1 span:last-child {
        font-size: 68px;
    }
    ._section:nth-child(8) ._container ._grid-12 h2 {
        font-size: 50px !important;
        width: 194px;
    }
    ._section:nth-child(2) ._container ._grid-12 h1 {
        width: 100%;
        font-size: 60px !important;
    }
    ._section:nth-child(2) ._container ._grid-12 h1 span:last-child {
        margin-left: 0px;
    }
    ._section:nth-child(8) ._container ._grid-12 h2 span:last-child {
        margin-left: 100px;
    }
    ._section ._slider #carouselFitur a img, ._section ._container #carouselColor a img {
        width: 100%;
    }
    ._section:nth-child(5) p {
        font-size: 16px !important;
        margin-bottom: 19px;
    }
    ._section:nth-child(3) ._container ._grid-12 h1 span:first-child {
        width: 100%;
        display: block;
        line-height: .8;
        padding: 20px 0px;
    }
    ._section:nth-child(3) ._container ._grid-12 h1 {
        margin: 0px !important;
    }
    ._section:nth-child(5) img:nth-child(2) {
        width: 101px;
    }
    ._section:nth-child(8) ._container ._grid-12 ._button-list ._button h4 {
        padding-left: 48px;
        font-size: 12px !important;
    }
    ._section:nth-child(8) ._container ._grid-12 ._button-list {
        width: 100%;
    }
    ._section:nth-child(8) ._container ._grid-12 ._button-list ._button {
        padding: 19px 10px;
    }
    ._section:nth-child(2) iframe {
        width: 100%;
        height: 200px;
    }
}

@media(max-width: 320px) {}